#menu {
  position: absolute;
  height: 100%;
  width: 200px;
  overflow: hidden;
}

.admin-info-box {
  height: 200px;
  text-align: center;
  background-color: #96a7c5;
}
.router-menu {
  height: 100%;
  background-color: #545c64;
}

#menu .el-menu {
  border-right: 0;
}

#menu .el-dialog {
  width: 400px;
  text-align: center;
}

#menu .el-dialog__header > span {
  font-size: 30px;
}

#menu .el-dialog__body {
  padding: 0 20px;
}

#menu .el-dialog__body > div {
  margin-top: 20px;
}
