#searchMovie .searchMovie-list {
  margin-top: 44px;
  width: 100%;
}

#searchMovie .searchMovie-cell {
  position: relative;
  width: 100%;
}

#searchMovie .searchMovie-img {
  position: relative;
  float: left;
}

#searchMovie .searchMovie-cell img {
  height: 95px;
  width: 70px;
}

#searchMovie .searchMovie-info {
  position: relative;
  width: 100%;
  height: 100px;
  margin-left: 90px;
}

#searchMovie .searchMovie-info_2 {
  overflow: hidden;
  margin-right: 60px;
}

#searchMovie .searchMovie-info > h2 {
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#searchMovie .searchMovie-info > h4 {
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#searchMovie .want-button {
  position: absolute;
  right: 100px;
  bottom: 40px;
}

#searchMovie .shelves {
  position: absolute;
  right: 100px;
  bottom: 40px;
}

#searchMovie .shelves_2 {
  width: 47px;
  height: 27px;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  background-color: #7b7b7b;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  cursor: pointer;
}

#searchMovie .shelves-span {
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
}

#searchMovie .button-block-want_2 {
  width: 47px;
  height: 27px;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  background-color: #faaf00;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  cursor: pointer;
}

#searchMovie .button-block-want_1 {
  width: 47px;
  height: 27px;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  background-color: #f05abe;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  cursor: pointer;
}

#searchMovie .want-span {
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
}

#searchMovie .ticket-button {
  position: absolute;
  right: 100px;
  bottom: 40px;
}

#searchMovie .ticket-button_2 {
  width: 47px;
  height: 27px;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  background-color: #f03a2c;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  cursor: pointer;
}

#searchMovie .ticket-span {
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
}
